{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.selectBox.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/dropzone.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/rangeslider.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/leaflet.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/slick-theme.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/map.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'fonts/font-awesome/css/font-awesome.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'fonts/flaticon/font/flaticon.css' %}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" >

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPlayfair+Display:400,700%7CRoboto:100,300,400,400i,500,700">

    <!-- font awesome -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" > -->

    <!-- Custom Stylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'css/skins/default.css' %}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">

    <style type="text/css">
        a:link {
          text-decoration: none;
        }
    
        .order-card {
          color: rgb(255, 255, 255);
        }
    
        .bg-c-blue {
          background: #04868f;
        }
    
        .bg-c-green {
          background:#4C51BF;
        }
    
        .bg-c-yellow {
          background: #F56565;
        }
    
        .bg-c-pink {
          background: #663a30;
        }
    
    
        .card {
          
          -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
          box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
          border: 1px solid black;
          margin-bottom: 30px;
          -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
    
        .card .card-block {
          padding: 25px;
        }
    
        .order-card i {
          font-size: 26px;
        }
    
        .f-left {
          float: left;
        }
    
        .f-right {
          float: right;
        }
        header {
        left: 0px;
        right: 0px;
      }
      </style>

</head>
<body id="top" class="index-body">

    {% block header %}
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PDTWJ3Z"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    
    <!-- End Google Tag Manager (noscript) -->
    <div class="page_loader"></div>
    
    <!-- Top header start -->
    <header class="top-header th-bg" id="top-header-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                    <div class="list-inline">
                        <a href="tel:1-7X0-555-8X22"><i class="fa fa-phone"></i>1-7X0-555-8X22</a>
                        <a href="tel:info@bluecorralestates.com"><i class="fa fa-envelope"></i>info@bluecorralestates.com</a>
                        <a href="#" class="mr-0"><i class="fa fa-clock-o"></i>Mon - Sun: 8:00am - 6:00pm</a>
                    </div>
                </div>
                <!-- <div class="col-lg-3 col-md-3 col-sm-5">
                    <ul class="top-social-media pull-right">
                        {% if request.user.is_authenticated %}

                            {% if user.is_superuser %}
                                <li>
                                    <a href="{% url 'admin_dashboard' %}" class="sign-in"><i class="fa fa-sign-in"></i> Dashboard </a>
                                </li>
                            {% else %}

                                <li>
                                    <a href="{% url 'user_dashboard' %}" class="sign-in"><i class="fa fa-sign-in"></i> Dashboard </a>
                                </li>

                            {% endif %}


                            <li>
                                <a href="{% url 'logout' %}" class="sign-in"><i class="fa fa-sign-in"></i> Logout </a>
                            </li>

                        {% else %}

                        <li>
                            <a href="{% url 'login' %}" class="sign-in"><i class="fa fa-sign-in"></i> Login </a>
                        </li>
                        <li>
                            <a href="{% url 'register' %}" class="sign-in"><i class="fa fa-user"></i> Register</a>
                        </li>
                        {% endif %}
                    </ul>
                </div> -->
            </div>
        </div>
    </header>
    <!-- Top header end -->
    {% endblock header %}


    {% block body %}

    {% endblock body %}


{% block footer %}

    <!-- Footer start -->
    <footer class="footer">
        <div class="container footer-inner">
            <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-item">
                        <h4>Contact Us</h4>
                        <ul class="contact-info">
                            <li>
                                <i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i>20/F Green Road, Dhanmondi, Dhaka
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i><a href="mailto:sales@hotelempire.com">info@bluecorralestates.com</a>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i><a href="tel:+55-417-634-7071">+0477 85X6 552</a>
                            </li>
                            <li>
                                <i class="fa fa-fax"></i>+0487 85X6 224
                            </li>
                            <li>
                                <i class="fa fa-skype"></i><a href="mailto:info@green.com">info@green.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-item"   style="padding-left: 5%;">
                        <h4>
                            Useful Links
                        </h4>
                        <ul class="links">
                            <li>
                                <a href="{% url 'home' %}"><i class="fa fa-angle-right"></i>Home</a>
                            </li>
                            <li>
                                <a href="{% url 'properties' %}"><i class="fa fa-angle-right"></i>Properties</a>
                            </li>
                            <li>
                                <a href="{% url 'about' %}"><i class="fa fa-angle-right"></i>About us</a>
                            </li>
                            
                            <li>
                                <a href="{% url 'contact' %}"><i class="fa fa-angle-right"></i>Contact Us</a>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-5 col-md-12 col-sm-12">
                    <div class="footer-item recent-posts"   style="padding-left: 25%;">
                        <h4>Recent Properties</h4>
                        {% for property in footer_properties %}

                        <div class="media mb-4">
                            <a href="{% url 'property-detail' property.id %}">
                                <img src="{{property.image_1.url}}" alt="sub-property" style="width: 60px; height: 60px;">
                            </a>
                            <div class="media-body align-self-center">
                                <h5>
                                    <a href="{% url 'property-detail' property.id %}">{{property.name}}</a>
                                </h5>
                                <p>{{property.date_built|date:"M j, Y"}} | ${{property.price}}</p>
                            </div>
                        </div>

                        {% endfor %}
                    </div>
                </div>
                        
                      
            </div>
        </div>
        <div class="sub-footer text-center">
            <div class="container text-center">
                <div class="row text-center">
                    <div class="col-lg-6 col-md-12 text-center">
                        <p class="copy">© 2018 <a href="#">Blue Coral.</a> Trademarks and brands are the property of their respective owners.</p>
                    </div>
                    <div class="col-lg-6 col-md-12 text-center">
                        <ul class="social-list clearfix">
                            <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer end -->

{% endblock footer %}





    <!-- External JS libraries -->
<script src="{% static 'js/jquery-2.2.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.selectBox.js' %}"></script>
<script src="{% static 'js/rangeslider.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.filterizr.js' %}"></script>
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/backstretch.js' %}"></script>
<script src="{% static 'js/jquery.countdown.js' %}"></script>
<script src="{% static 'js/jquery.scrollUp.js' %}"></script>
<script src="{% static 'js/particles.min.js' %}"></script>
<script src="{% static 'js/typed.min.js' %}"></script>
<script src="{% static 'js/dropzone.js' %}"></script>
<script src="{% static 'js/jquery.mb.YTPlayer.js' %}"></script>
<script src="{% static 'js/leaflet.js' %}"></script>
<script src="{% static 'js/leaflet-providers.js' %}"></script>
<script src="{% static 'js/leaflet.markercluster.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/maps.js' %}"></script>
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0N5pbJN10Y1oYFRd0MJ_v2g8W2QT74JE"></script>
<script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
<!-- Custom JS Script -->
<script  src="{% static 'js/app.js' %}"></script>

</body>
</html>