{% extends 'base.html' %}

{% load static %}

{%block title %}
    Blue Coral | Contact
{% endblock title %}

{% block body %}





<!-- main header start -->
<header class="main-header sticky-header" id="main-header-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light rounded">
                    <a class="navbar-brand logo" href="{% url 'home' %}">
                        <img src="{% static 'img/logos/black-logo.png' %}" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav justify-content-end ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'properties' %}"  aria-haspopup="true" aria-expanded="false">
                                    Properties
                                </a>
                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}"  aria-haspopup="true" aria-expanded="false">
                                    About
                                </a>
                                
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="{% url 'contact' %}"  aria-haspopup="true" aria-expanded="false">
                                    Contact
                                </a>
                                
                            </li>
                            
                            <li class="nav-item dropdown">
                                <a href="#full-page-search" class="nav-link">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>
                            {% if request.user.is_authenticated %}

                                    {% if user.is_superuser %}
                                        <li class="nav-item">
                                            <a href="{% url 'admin_dashboard' %}" class="nav-link">Dashboard </a>
                                        </li>
                                    {% else %}

                                        <li class="nav-item">
                                            <a href="{% url 'user_dashboard' %}" class="nav-link">Dashboard </a>
                                        </li>

                                    {% endif %}


                                    <li class="nav-item">
                                        <a href="{% url 'logout' %}" class="nav-link">Logout </a>
                                    </li>

                                {% else %}

                                <li class="nav-item">
                                    <a href="{% url 'login' %}" class="nav-link">Login </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'register' %}" class="nav-link">Register</a>
                                </li>
                                {% endif %}
                        
                            <!-- <li class="nav-item sb2">
                                <a  href="{% url 'submit-property' %}" class="submit-btn">
                                    Submit Property
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- main header end -->

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Contact Us</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Contact Us</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- Contact 1 start -->
<div class="contact-1 content-area-7">
    <div class="container">
        <div class="main-title">
            <h1>Contact Us</h1>
            <p>Shoot Us a Message, We respond Within 1 Business day</p>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <form action="#" method="GET" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group name">
                                <input type="text" name="name" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group email">
                                <input type="email" name="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group subject">
                                <input type="text" name="subject" class="form-control" placeholder="Subject">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group number">
                                <input type="text" name="phone" class="form-control" placeholder="Number">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group message">
                                <textarea class="form-control" name="message" placeholder="Write message"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="send-btn">
                                <button type="submit" class="btn btn-color btn-md btn-message">Send Message</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4">
                <div class="contact-info">
                    <h3>Contact Info</h3>
                    <div class="ci-box">
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="detail">
                            <h5>Office Address</h5>
                            <p>20/F Green Road, Dhanmondi, Dhaka</p>
                        </div>
                    </div>
                    <div class="ci-box">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="detail">
                            <h5>Phone</h5>
                            <p><a href="tel:+0477-85x6-552">+55 417 634 7X71</a> </p>
                        </div>
                    </div>
                    <div class="ci-box">
                        <div class="icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="detail">
                            <h5>Email</h5>
                            <p><a href="tel:info@bluecorralestates.com">info@bluecorralestates.com</a></p>
                        </div>
                    </div>
                    <div class="ci-box mb-0">
                        <div class="icon">
                            <i class="fa fa-fax"></i>
                        </div>
                        <div class="detail">
                            <h5>Fax</h5>
                            <p class="mb-0"><a href="tel:+447761474111">+44 776 147 4111</a> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact 1 end -->

<!-- Maps start -->
<div class="section maps">
    <div class="map">
        <div id="contactMap" class="contact-map"></div>
    </div>
</div>
<!-- Maps end -->



<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="{% url 'search' %}" class="search" method="GET">
        <input
            class="form-control search-box"
            type="search"
            placeholder="Type a keyword..."
            name = "search_term"
            value = "{{ search_term }}"
            />
        <button type="submit" class="btn btn-sm btn-color">Search</button>
    </form>
</div>

<!-- Off-canvas sidebar -->
<div class="off-canvas-sidebar">
    <div class="off-canvas-sidebar-wrapper">
        <div class="off-canvas-header">
            <a class="close-offcanvas" href="#"><span class="fa fa-times"></span></a>
        </div>
        <div class="off-canvas-content">
            <aside class="canvas-widget">
                <div class="logo-sitebar text-center">
                    <img src="{% static 'img/logos/footer-logo.png' %}" alt="logo">
                </div>
            </aside>
            <aside class="canvas-widget">
                <ul class="menu">
                    <li class="menu-item menu-item-has-children"><a href="{% url 'home' %}">Home</a></li>
                    <li class="menu-item"><a href="{% url 'properties' %}">Properties</a></li>

                    <li class="menu-item"><a href="{% url 'about' %}">About  US</a></li>
                    <li class="menu-item"><a href="{% url 'contact' %}">Contact US</a></li>
                </ul>
            </aside>
            <aside class="canvas-widget">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <!-- <li><a href="#"><i class="fa fa-vk"></i></a></li> -->
                </ul>
            </aside>
        </div>
    </div>
</div>


{% endblock body %}


