{% extends 'base.html' %}

{% load static %}

{%block title %}
    Blue Coral | {{property.name}}
{% endblock title %}

{% block body %}

<!-- main header start -->
<header class="main-header sticky-header" id="main-header-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-expand-lg navbar-light rounded">
                    <a class="navbar-brand logo" href="index.html">
                        <img src="{% static 'img/logos/black-logo.png' %}" alt="logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav justify-content-end ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'properties' %}"  aria-haspopup="true" aria-expanded="false">
                                    Properties
                                </a>
                                
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}"  aria-haspopup="true" aria-expanded="false">
                                    About
                                </a>
                                
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="{% url 'contact' %}"  aria-haspopup="true" aria-expanded="false">
                                    Contact
                                </a>
                                
                            </li>
                        
                            <li class="nav-item dropdown">
                                <a href="#full-page-search" class="nav-link">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>
                            {% if request.user.is_authenticated %}

                                    {% if user.is_superuser %}
                                        <li class="nav-item">
                                            <a href="{% url 'admin_dashboard' %}" class="nav-link">Dashboard </a>
                                        </li>
                                    {% else %}

                                        <li class="nav-item">
                                            <a href="{% url 'user_dashboard' %}" class="nav-link">Dashboard </a>
                                        </li>

                                    {% endif %}


                                    <li class="nav-item">
                                        <a href="{% url 'logout' %}" class="nav-link">Logout </a>
                                    </li>

                                {% else %}

                                <li class="nav-item">
                                    <a href="{% url 'login' %}" class="nav-link">Login </a>
                                </li>
                                <li class="nav-item">
                                    <a href="{% url 'register' %}" class="nav-link">Register</a>
                                </li>
                                {% endif %}
                            {% if user.is_superuser %}
                                <li class="nav-item sb2">
                                    <a  href="{% url 'submit-property' %}" class="submit-btn">
                                        Add Property
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- main header end -->

<!-- Sub banner start -->
<div class="sub-banner">
    <div class="container">
        <div class="breadcrumb-area">
            <h1>Property Detail</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Property Detail</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub banner end -->

<!-- Properties details page start -->
<div class="properties-details-page content-area-15">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12 slider">
                <div id="propertiesDetailsSlider" class="carousel properties-details-sliders slide mb-30">
                    <div class="heading-properties">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="pull-left">
                                    <h3>{{property.name}}</h3>
                                    <p><i class="fa fa-map-marker"></i> {{property.address}}</p>
                                </div>
                                <div class="p-r">
                                    <h3>${{property.price}}</h3>
                                    <p><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- main slider carousel items -->
                    <div class="carousel-inner">
                        <div class="active item carousel-item" data-slide-number="0">
                            <img src="{{property.image_1.url}}" class="img-fluid" alt="property-4" style="width: 730px; height: 486px;">
                        </div>
                        <div class="item carousel-item" data-slide-number="1">
                            <img src="{{property.image_2.url}}" class="img-fluid" alt="property-6" style="width: 730px; height: 486px;">
                        </div>
                        <div class="item carousel-item" data-slide-number="2">
                            <img src="{{property.image_3.url}}" class="img-fluid" alt="property-1" style="width: 730px; height: 486px;">
                        </div>
                        <div class="item carousel-item" data-slide-number="4">
                            <img src="{{property.image_4.url}}" class="img-fluid" alt="property-5" style="width: 730px; height: 486px;">
                        </div>
                        <div class="item carousel-item" data-slide-number="5">
                            <img src="{{property.image_5.url}}" class="img-fluid" alt="property-8" style="width: 730px; height: 486px;">
                        </div>
                        <div class="item carousel-item" data-slide-number="6">
                            <img src="{{property.image_6.url}}" class="img-fluid" alt="property-6" style="width: 730px; height: 486px;">
                        </div>
                        <div class="item carousel-item" data-slide-number="7">
                            <img src="{{property.image_7.url}}" class="img-fluid" alt="property-6" style="width: 730px; height: 486px;">
                        </div>
                        <div class="item carousel-item" data-slide-number="8">
                            <img src="{{property.image_8.url}}" class="img-fluid" alt="property-6" style="width: 730px; height: 486px;">
                        </div>
                        <div class="item carousel-item" data-slide-number="9">
                            <img src="{{property.image_9.url}}" class="img-fluid" alt="property-6" style="width: 730px; height: 486px;">
                        </div>
                        <div class="item carousel-item" data-slide-number="10">
                            <img src="{{property.image_10.url}}" class="img-fluid" alt="property-6" style="width: 730px; height: 486px;">
                        </div>

                        <a class="carousel-control left" href="#propertiesDetailsSlider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                        <a class="carousel-control right" href="#propertiesDetailsSlider" data-slide="next"><i class="fa fa-angle-right"></i></a>
                    </div>
                    <!-- main slider carousel nav controls -->
                    <ul class="carousel-indicators smail-properties list-inline nav nav-justified">
                        <li class="list-inline-item active">
                            <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#propertiesDetailsSlider">
                                <img src="{{property.image_1.url}}" class="img-fluid" alt="property-4" style="width: 146px; height: 48.5px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-1" data-slide-to="1" data-target="#propertiesDetailsSlider">
                                <img src="{{property.image_2.url}}" class="img-fluid" alt="property-6" style="width: 146px; height: 48.5px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-2" data-slide-to="2" data-target="#propertiesDetailsSlider">
                                <img src="{{property.image_3.url}}" class="img-fluid" alt="property-1" style="width: 146px; height: 48.5px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-3" data-slide-to="3" data-target="#propertiesDetailsSlider">
                                <img src="{{property.image_4.url}}" class="img-fluid" alt="property-5" style="width: 146px; height: 48.5px;">
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a id="carousel-selector-4" data-slide-to="4" data-target="#propertiesDetailsSlider">
                                <img src="{{property.image_5.url}}" class="img-fluid" alt="property-8" style="width: 146px; height: 48.5px;">
                            </a>
                        </li>
                        <li class="list-inline-item active">
                            <a id="carousel-selector-5" class="selected" data-slide-to="5" data-target="#propertiesDetailsSlider">
                                <img src="{{property.image_6.url}}" class="img-fluid" alt="property-4" style="width: 146px; height: 48.5px;">
                            </a>
                        </li>
                        <li class="list-inline-item active">
                            <a id="carousel-selector-6" class="selected" data-slide-to="6" data-target="#propertiesDetailsSlider">
                                <img src="{{property.image_7.url}}" class="img-fluid" alt="property-4" style="width: 146px; height: 48.5px;">
                            </a>
                        </li>
                        <li class="list-inline-item active">
                            <a id="carousel-selector-7" class="selected" data-slide-to="7" data-target="#propertiesDetailsSlider">
                                <img src="{{property.image_8.url}}" class="img-fluid" alt="property-4" style="width: 146px; height: 48.5px;">
                            </a>
                        </li>
                        <li class="list-inline-item active">
                            <a id="carousel-selector-8" class="selected" data-slide-to="8" data-target="#propertiesDetailsSlider">
                                <img src="{{property.image_9.url}}" class="img-fluid" alt="property-4" style="width: 146px; height: 48.5px;">
                            </a>
                        </li>
                        <li class="list-inline-item active">
                            <a id="carousel-selector-9" class="selected" data-slide-to="9" data-target="#propertiesDetailsSlider">
                                <img src="{{property.image_10.url}}" class="img-fluid" alt="property-4" style="width: 146px; height: 48.5px;">
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- Search area start -->
                <div class="widget-2 search-area advanced-search as-2">
                    <h5 class="sidebar-title">Advanced Search</h5>
                    <div class="search-area-inner">
                        <div class="search-contents ">
                            <form method="GET">
                                <div class="form-group">
                                    <select class="selectpicker search-fields" name="area">
                                        <option>Area From</option>
                                        <option>1500</option>
                                        <option>1200</option>
                                        <option>900</option>
                                        <option>600</option>
                                        <option>300</option>
                                        <option>100</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="selectpicker search-fields" name="Status">
                                        <option>Property Status</option>
                                        <option>For Sale</option>
                                        <option>For Rent</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="selectpicker search-fields" name="Location">
                                        <option>Location</option>
                                        <option>United Kingdom</option>
                                        <option>American Samoa</option>
                                        <option>Belgium</option>
                                        <option>Canada</option>
                                        <option>Delaware</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="selectpicker search-fields" name="types">
                                        <option>Property Types</option>
                                        <option>Residential</option>
                                        <option>Commercial</option>
                                        <option>Land</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="selectpicker search-fields" name="bedrooms">
                                        <option>Bedrooms</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                    </select>
                                </div>
                                <div class="form-group mb-30">
                                    <select class="selectpicker search-fields" name="bedrooms">
                                        <option>Bathrooms</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                    </select>
                                </div>
                                <div class="form-group clearfix">
                                    <label>Area</label>
                                    <div class="range-slider">
                                        <div data-min="0" data-max="150000" data-unit="Sq ft" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label>Price</label>
                                    <div class="range-slider">
                                        <div data-min="0" data-max="150000" data-unit="USD" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <button class="search-button btn-md btn-color">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Tabbing box start -->
                <div class="tabbing tabbing-box mb-60">
                    <ul class="nav nav-tabs" id="carTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active show" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="one" aria-selected="false">Description</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="two" aria-selected="false">Floor Plans</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="three" aria-selected="true">Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="4-tab" data-toggle="tab" href="#4" role="tab" aria-controls="4" aria-selected="true">Video</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="5-tab" data-toggle="tab" href="#5" role="tab" aria-controls="5" aria-selected="true">Location</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="6-tab" data-toggle="tab" href="#6" role="tab" aria-controls="6" aria-selected="true">Related Properties</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="carTabContent">
                        <div class="tab-pane fade active show" id="one" role="tabpanel" aria-labelledby="one-tab">
                            <h3 class="heading-3">Property Description</h3>
                           <p>{{property.description}}</p>
                        </div>
                        <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
                            <div class="floor-plans mb-60">
                                <h3 class="heading-3">Floor Plans</h3>
                                <table>
                                    <tbody><tr>
                                        <td><strong>Size</strong></td>
                                        <td><strong>Rooms</strong></td>
                                        <td><strong>Bathrooms</strong></td>
                                    </tr>
                                    <tr>
                                        <td>{{property.size}}</td>
                                        <td>{{property.bedrooms}}</td>
                                        <td>{{property.bathroom}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <img src="{{property.floor_plan.url}}" alt="floor-plans" class="img-fluid"  style="width: 730px; height: 370px;">
                            </div>
                        </div>
                        <div class="tab-pane fade " id="three" role="tabpanel" aria-labelledby="three-tab">
                            <div class="property-details">
                                <h3 class="heading-3">Property Details</h3>
                                <div class="row">
                                    <div class="col-md-4 col-sm-6">
                                        <ul>
                                            <li>
                                                <strong>Property Id:</strong>{{property.id}}
                                            </li>
                                            <li>
                                                <strong>Price:</strong>$1240/ Month
                                            </li>
                                            <li>
                                                <strong>Property Type:</strong>House
                                            </li>
                                            <li>
                                                <strong>Bathrooms:</strong>3
                                            </li>
                                            <li>
                                                <strong>Bathrooms:</strong>2
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <ul>
                                            <li>
                                                <strong>Property Lot Size:</strong>{{property.property_lot_size}} ft2
                                            </li>
                                            <li>
                                                <strong>Land area:</strong>{{property.land_area}} ft2
                                            </li>
                                            <li>
                                                <strong>Year Built:</strong>{{property.date_built|date:"Y"}}
                                            </li>
                                            <li>
                                                <strong>Available From:</strong>2018
                                            </li>
                                            <li>
                                                <strong>Garages:</strong>{{property.garage}}
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4 col-sm-6">
                                        <ul>
                                            <li>
                                                <strong>Sold:</strong>Yes
                                            </li>
                                            <li>
                                                <strong>City:</strong>{{property.location}}
                                            </li>
                                            <li>
                                                <strong>Parking:</strong>Yes
                                            </li>
                                            <li>
                                                <strong>Property Owner:</strong>Sohel Rana
                                            </li>
                                            <li>
                                                <strong>Zip Code: </strong>2451
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="4" role="tabpanel" aria-labelledby="4-tab">
                            <div class="property-video">
                                <h3 class="heading-3">Property Video</h3>
                                <video width="500" height="400" controls>
                                    <source src="{{property.video.url}}" type="video/mp4">
                                </video>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="5" role="tabpanel" aria-labelledby="5-tab">
                            <div class="section location">
                                <h3 class="heading-3">Property Location</h3>
                                <div class="map">
                                    <div id="contactMap" class="contact-map"></div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade " id="6" role="tabpanel" aria-labelledby="6-tab">
                            <div class="related-properties">
                                <h3 class="heading-3">Related Properties</h3>
                                <div class="row">
                                    {% for recent_property in recent_properties %}
                                    <div class="col-md-6">
                                        <div class="property-box">
                                            <div class="property-thumbnail">
                                                <a href="{% url 'property-detail' recent_property.id %}" class="property-img">
                                                    <div class="listing-badges">
                                                        <span class="featured">Featured</span>
                                                    </div>
                                                    <div class="tag-for">For Sale</div>
                                                    <div class="plan-price"><sup>$</sup>820<span>/month</span> </div>
                                                    <img src="{{property.image_3.url}}" alt="property-1" class="img-fluid"  style="width: 350px; height: 233px;">
                                                </a>
                                                
                                            </div>
                                            <div class="detail">
                                                <h1 class="title">
                                                    <a href="properties-details.html">{{recent_property.name}}</a>
                                                </h1>
                                                <div class="location">
                                                    <a href="properties-details.html">
                                                        <i class="flaticon-facebook-placeholder-for-locate-places-on-maps"></i>{{recent_property.address}
                                                    </a>
                                                </div>
                                                <ul class="facilities-list clearfix">
                                                    <li>
                                                        <i class="flaticon-bed"></i> 3 Bedrooms
                                                    </li>
                                                    <li>
                                                        <i class="flaticon-bath"></i> 2 Bathrooms
                                                    </li>
                                                    <li>
                                                        <i class="flaticon-square-layouting-with-black-square-in-east-area"></i> Sq Ft:3400
                                                    </li>
                                                    <li>
                                                        <i class="flaticon-car-repair"></i> 1 Garage
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="footer">
                                                <a href="#">
                                                    <i class="fa fa-user"></i> Jhon Doe
                                                </a>
                                                <span>
                                                      <i class="fa fa-calendar-o"></i> 2 day ago
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Amenities box start -->
                <div class="amenities-box mb-45">
                    <h3 class="heading-3">Condition</h3>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                <li><span><i class="flaticon-bed"></i> 3 Beds</span></li>
                                <li><span><i class="flaticon-bath"></i> 2 Bathroom</span></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                <li><span><i class="flaticon-car-repair"></i> 1 Garage</span></li>
                                <li><span><i class="flaticon-balcony-and-door"></i>1 Balcony</span></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                <li><span><i class="flaticon-square-layouting-with-black-square-in-east-area"></i> 4800 sq ft</span></li>
                                <li><span><i class="flaticon-monitor"></i> TV</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Features opions start -->
                <div class="features-opions mb-45">
                    <h3 class="heading-3">Features</h3>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                <li>
                                    <i class="flaticon-air-conditioner"></i>
                                    Air conditioning
                                </li>
                                <li>
                                    <i class="flaticon-wifi-connection-signal-symbol"></i>
                                    Wifi
                                </li>
                                <li>
                                    <i class="flaticon-swimmer"></i>
                                    Swimming Pool
                                </li>
                                <li>
                                    <i class="flaticon-bed"></i>
                                    Double Bed
                                </li>
                                <li>
                                    <i class="flaticon-balcony-and-door"></i>
                                    Balcony
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                <li>
                                    <i class="flaticon-old-typical-phone"></i>
                                    Telephone
                                </li>
                                <li>
                                    <i class="flaticon-car-repair"></i>
                                    Garage
                                </li>
                                <li>
                                    <i class="flaticon-parking"></i>
                                    Parking
                                </li>
                                <li>
                                    <i class="flaticon-monitor"></i>
                                    TV
                                </li>
                                <li>
                                    <i class="flaticon-theatre-masks"></i>
                                    Home Theater
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <ul>
                                <li>
                                    <i class="fa fa-clock-o"></i>
                                    Alarm
                                </li>
                                <li>
                                    <i class="flaticon-padlock"></i>
                                    Security
                                </li>
                                <li>
                                    <i class="flaticon-weightlifting"></i>
                                    Gym
                                </li>
                                <li>
                                    <i class="flaticon-idea"></i>
                                    Electric Range
                                </li>
                                <li>
                                    <i class="flaticon-green-park-city-space"></i>
                                    Private space
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <a class="btn btn-sm btn-primary mr-1 btn-lg" href="{% url 'pay' property.id  %}" style="margin-left: 30%;">Buy</a>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="sidebar mbl">
                    <!-- Search area start -->
                    <div class="widget search-area advanced-search as">
                        <h5 class="sidebar-title">Advanced Search</h5>
                        <div class="search-area-inner">
                            <div class="search-contents ">
                                <form method="GET">
                                    <div class="form-group">
                                        <select class="selectpicker search-fields" name="area">
                                            <option>Area From</option>
                                            <option>1500</option>
                                            <option>1200</option>
                                            <option>900</option>
                                            <option>600</option>
                                            <option>300</option>
                                            <option>100</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="selectpicker search-fields" name="Status">
                                            <option>Property Status</option>
                                            <option>For Sale</option>
                                            <option>For Rent</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="selectpicker search-fields" name="Location">
                                            <option>Location</option>
                                            <option>United Kingdom</option>
                                            <option>American Samoa</option>
                                            <option>Belgium</option>
                                            <option>Canada</option>
                                            <option>Delaware</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="selectpicker search-fields" name="types">
                                            <option>Property Types</option>
                                            <option>Residential</option>
                                            <option>Commercial</option>
                                            <option>Land</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="selectpicker search-fields" name="bedrooms">
                                            <option>Bedrooms</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                            <option>7</option>
                                            <option>8</option>
                                            <option>9</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-30">
                                        <select class="selectpicker search-fields" name="bedrooms">
                                            <option>Bathrooms</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label>Area</label>
                                        <div class="range-slider">
                                            <div data-min="0" data-max="150000" data-unit="Sq ft" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <div class="form-group clearfix">
                                        <label>Price</label>
                                        <div class="range-slider">
                                            <div data-min="0" data-max="150000" data-unit="USD" data-min-name="min_price" data-max-name="max_price" class="range-slider-ui ui-slider" aria-disabled="false"></div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <button class="search-button btn-md btn-color">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Categories start -->
                    <!-- <div class="widget categories">
                        <h5 class="sidebar-title">Categories</h5>
                        <ul>
                            <li><a href="#">Apartments<span>(12)</span></a></li>
                            <li><a href="#">Houses<span>(8)</span></a></li>
                            <li><a href="#">Family Houses<span>(23)</span></a></li>
                            <li><a href="#">Offices<span>(5)</span></a></li>
                            <li><a href="#">Villas<span>(63)</span></a></li>
                            <li><a href="#">Other<span>(7)</span></a></li>
                        </ul>
                    </div> -->
                    <!-- Recent posts start -->
                    <div class="widget recent-posts">
                        <h5 class="sidebar-title">Recent Properties</h5>
                        {% for property in footer_properties %}

                        <div class="media mb-4">
                            <a href="{% url 'property-detail' property.id %}">
                                <img src="{{property.image_1.url}}" alt="sub-property" style="width: 60px; height: 60px;">
                            </a>
                            <div class="media-body align-self-center">
                                <h5>
                                    <a href="{% url 'property-detail' property.id %}">{{property.name}}</a>
                                </h5>
                                <p>{{property.date_built|date:"M j, Y"}} | ${{property.price}}</p>
                            </div>
                        </div>

                        {% endfor %}
                        
                    </div>
                    <!-- Social list start -->
                    <div class="social-list widget clearfix">
                        <h5 class="sidebar-title">Follow Us</h5>
                        <ul>
                            <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                            <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <!-- Helping center start -->
                    <div class="helping-center clearfix">
                        <div class="media">
                            <i class="fa fa-mobile"></i>
                            <div class="media-body  align-self-center">
                                <h5 class="mt-0">Helping Center</h5>
                                <h4><a href="tel:+0477-85x6-552">+01 7X0 555 8X22</a></h4>
                            </div>
                        </div>
                    </div>
                    <!-- Financing calculator  start -->
                    <!-- <div class="contact-3 financing-calculator widget-3">
                        <h5 class="sidebar-title">Mortgage Calculator</h5>
                        <form action="#" method="GET" enctype="multipart/form-data">
                            <div class="form-group">
                                <label class="form-label">Property Price</label>
                                <input type="text" class="form-control" placeholder="$36.400">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Interest Rate (%)</label>
                                <input type="text" class="form-control" placeholder="10%">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Period In Months</label>
                                <input type="text" class="form-control" placeholder="10 Months">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Down PaymenT</label>
                                <input type="text" class="form-control" placeholder="$21,300">
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-color btn-md btn-message btn-block">Caculate</button>
                            </div>
                        </form>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Properties details page end -->


<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="{% url 'search' %}" class="search" method="GET">
        <input
            class="form-control search-box"
            type="search"
            placeholder="Type a keyword..."
            name = "search_term"
            value = "{{ search_term }}"
            />
        <button type="submit" class="btn btn-sm btn-color">Search</button>
    </form>
</div>



<!-- Off-canvas sidebar -->
<div class="off-canvas-sidebar">
    <div class="off-canvas-sidebar-wrapper">
        <div class="off-canvas-header">
            <a class="close-offcanvas" href="#"><span class="fa fa-times"></span></a>
        </div>
        <div class="off-canvas-content">
            <aside class="canvas-widget">
                <div class="logo-sitebar text-center">
                    <img src="{% static 'img/logos/footer-logo.png' %}" alt="logo">
                </div>
            </aside>
            <aside class="canvas-widget">
                <ul class="menu">
                    <li class="menu-item menu-item-has-children"><a href="{% url 'home' %}">Home</a></li>
                    <li class="menu-item"><a href="{% url 'properties' %}">Properties</a></li>
                    <li class="menu-item"><a href="{% url 'about' %}">About  US</a></li>
                    <li class="menu-item"><a href="{% url 'contact' %}">Contact US</a></li>
                </ul>
            </aside>
            <aside class="canvas-widget">
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-vk"></i></a></li>
                </ul>
            </aside>
        </div>
    </div>
</div>

{% endblock body %}